[
        {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
        { rabbit, [
          {cluster_nodes, {['rabbit@demo1'], disc}},
          { loopback_users, [ ] },
          { tcp_listeners, [  ] },
          { ssl_listeners, [ 5671 ] },
          {ssl_options, [{cacertfile,"/etc/rabbitmq/testca/ca_certificate.pem"},
            {certfile,"/etc/rabbitmq/server/server_certificate.pem"},
            {keyfile,"/etc/rabbitmq/server/private_key.pem"},
            {versions, ['tlsv1.2', 'tlsv1.1']},
            {depth, 8},
            {ciphers, [
              {rsa,aes_256_cbc,sha256},
              {rsa,aes_256_gcm,null,sha384}
              ]},
          {verify,verify_peer},
          {fail_if_no_peer_cert,false}]},
          { default_pass, <<"guest">> },
          { default_user, <<"admin">> },
          { hipe_compile, false },
          {auth_mechanisms, ['PLAIN','AMQPLAIN','EXTERNAL']}
        ] },
        { rabbitmq_management, [ { listener, [
                { port, 15672 },
                { ssl, false }
        ] } ] }
].
